.navbar {
    display: flex;
    height: 65px;
    background-color: var(--main_bg);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    text-wrap: nowrap;
}

.navbar h3,
h4 {
    cursor: pointer;
}

.navbar div {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.navbar div:nth-child(2) {
    gap: 40px;
    justify-content: flex-end;
}

@media (0px <=width <=720px) {
    .download_icon {
        display: none;
    }

    .agents {
        display: none;
    }
}